@import 'vars';

.menu {
    position: absolute;
    right: 11%;
    top: 50px;

    // NAVIGATION  
    &__list {
        background: $hoverTextColor;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;  
        min-width: 725px;
        padding-left: 25px;
        padding-right: 119px;
        display: none;
        z-index: -9999;
    }

    &__list--active {
        display: flex;
        z-index: 1;
        animation: .5s menu
    }

    &__link {
        font-size: 14px;
        color: $white;
        text-transform: uppercase;
        line-height: 1.786;
        padding: 30px;
        transition: color .5s;

        &:hover {
            color: $black;
        }
    }
}

@keyframes menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

///////////////// MENU BUTTON ///////////////////
.hamburger {
    background: none;
    display: block;
    cursor: pointer;
    border: 3px solid $primaryColor;
    transition: border-color .5s; 

    &:hover, 
    &:active, 
    &:focus {
        border-color: $hoverTextColor;

        .hamburger__element {
            background-color: $hoverTextColor;

            &::after,
            &::before {
                background-color: $hoverTextColor;   
            }
        }
    }

    &__element {
        width: 40px;
        height: 3px;
        background-color: $primaryColor;
        display: block;
        margin: 0 auto;
        transition: background-color .5s; 

        &::after {
            transform: translateY(4px);
        }

        &::before {
            transform: translateY(-7px);
        }

        &::after,
        &::before {
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            margin: 0 auto;
            background-color: $primaryColor;
            transition: background-color .5s;
        }
    }
}

.hamburger__menu {
    width: 119px;
    height: 114px;
    outline: none;
    position: relative;
    z-index: 100;
}

.hamburger--active {
    z-index: 1;
    border-color: $hoverTextColor;

    &:hover,
    &:active {
        border-color: $hoverTextColor;

        .hamburger__element {
            background-color: $primaryColor;

            &::after,
            &::before {
                background-color: $primaryColor;
            }
        }
    }

    .hamburger__element {
        transition: transform .5s;
        transform: rotate(45deg);

        &::after {
            transform: rotate(-90deg);
        }

        &::before {
            display: none;
        }
    }
}