@import 'vars';

.projects__list {
    margin-top: 36.5%;
    margin-left: calc(27.9% - 25px);
    margin-bottom: 12.9%;
}

.list {
    &__links {
        position: relative;
        z-index: 1;
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.077;
        padding-left: 25px;
        transition: color .5s;

        &:hover {
            color: $black;
            background: url(../img/arrow.svg) left center no-repeat;
        }
    }
}