@font-face {
   font-family: "robotocondensed-bold";
   src: url("../fonts/robotocondensed-bold-webfont.woff");
   src: url("../fonts/robotocondensed-bold-webfont.woff2");
}

@font-face {
  font-family: "robotocondensed-bolditalic";
  src: url("../fonts/robotocondensed-bolditalic-webfont.woff");
  src: url("../fonts/robotocondensed-bolditalic-webfont.woff2");
}

@font-face {
  font-family: "robotocondensed-italic";
  src: url("../fonts/robotocondensed-italic-webfont.woff");
  src: url("../fonts/robotocondensed-italic-webfont.woff2");
}

@font-face {
  font-family: "robotocondensed-light";
  src: url("../fonts/robotocondensed-light-webfont.woff");
  src: url("../fonts/robotocondensed-light-webfont.woff2");
}

@font-face {
  font-family: "robotocondensed-lightitalic";
  src: url("../fonts/robotocondensed-lightitalic-webfont.woff");
  src: url("../fonts/robotocondensed-lightitalic-webfont.woff2");
}

@font-face {
  font-family: "robotocondensed-regular";
  src: url("../fonts/robotocondensed-regular-webfont.woff");
  src: url("../fonts/robotocondensed-regular-webfont.woff2");
}