@import 'mixin';

/*   less  1500px     */
@media screen and (min-width: 1500px) {
    .header__slogan {
        @include dynamicText(112.5%, 36, 18, 1500px, 3000, 1500);
    }

    .header__adress,
    .header__contacts {
        @include dynamicText(81%, 26, 13, 1500px, 3000, 1500);
    }
}

/*   less  1200px     */
@media screen and (max-width: 1200px) {}


/*   less  992px     */
@media screen and (max-width: 992px) {
    // header
    .header__left {
        grid-column: span 9;
    }

    .header__right {
        grid-column: span 7;
    }
}


/*   less  768px     */
@media screen and (max-width: 768px) {}

/*   less  600px     */
@media screen and (max-width: 600px) {
    // header
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .header__left, 
    .header__right {
        grid-column: span 1;
    }

    .header__adress,
    .header__contacts {
        position: static;
    }

    .header__adress {
        margin-left: 10%;
        margin-top: 10%;
    }

    .header__contacts {
        margin-left: 35%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

}


/*   less  479px     */
@media screen and (max-width: 479px) {}