@import 'mixin';

//   adaptive  image
@media screen and (min-resolution: 2dppx), (min-width: 1501px) {

    // block  projects
    .projects__element--two {
        background-image: url(../img/image2-2x.png);
    }

    .projects__element--three {
        background-image: url(../img/image3-2x.png);
    }

     .projects__element--four {
        background-image: url(../img/image4-2x.png);
    }

     .projects__element--five {
        background-image: url(../img/image5-2x.png);
    }

     .projects__element--six {
        background-image: url(../img/image6-2x.png);
    }

     .projects__element--seven {
        background-image: url(../img/image7-2x.png);
    }

     .projects__element--eight {
        background-image: url(../img/image8-2x.png);
    }

     .projects__element--nine {
        background-image: url(../img/image9-2x.png);
    }
}


/*   less  1500px     */
@media screen and (min-width: 1500px) {
    .header__slogan {
        @include dynamicText(112.5%, 36, 18, 1500px, 3000, 1500);
    }

    .header__adress,
    .header__contacts {
        @include dynamicText(81%, 26, 13, 1500px, 3000, 1500);
    }

    //  MENU NAVIGATION
    .menu__list {
        width: 935px;
    }

    .menu__link {
        @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }

    //  projects block
    .list__links {
        @include dynamicText(81.25%, 26, 13, 1500px, 3000, 1500);
    }

    .projects__name {
        @include dynamicText(75%, 24, 12, 1500px, 3000, 1500);
    }

    .projects__element--one .projects__title {
        @include dynamicText(300%, 96, 48, 1500px, 3000, 1500);
    }

    .projects__counter,
    .projects__element--eight .projects__counter {
        max-width: 260px;
    }

    .projects__view {
        @include dynamicText(112.5%, 36, 18, 1500px, 3000, 1500);
    }

    .like__counts {
        @include dynamicText(68.75%, 22, 11, 1500px, 3000, 1500);
    }

    .projects__element--ten .projects__subtitle {
         @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }

    //  block studio 
    .studio__title {
         @include dynamicText(300%, 96, 48, 1500px, 3000, 1500);
    }

    .studio__text {
        @include dynamicText(112.5%, 36, 18, 1500px, 3000, 1500);
    }

    .studio__subtitle {
        @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }

    .studio__list-item {
        @include dynamicText(75%, 24, 12, 1500px, 3000, 1500);
    }

    .studio__staff-title {
        @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }

    .studio__staff-text {
        @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }

    .persons__name {
         @include dynamicText(81.25%, 26, 13, 1500px, 3000, 1500);
    }

    .persons__post {
         @include dynamicText(75%, 24, 12, 1500px, 3000, 1500);
    }

    .persons__cv {
         @include dynamicText(75%, 28, 14, 1500px, 3000, 1500);
    }


    //////////////////// section  news  ////////////////////////////
    .news__title {
        @include dynamicText(300%, 96, 48, 1500px, 3000, 1500);
    }

    .news__text {
        @include dynamicText(150%, 40, 20, 1500px, 3000, 1500);
    }

    .news__date {
        @include dynamicText(75%, 24, 12, 1500px, 3000, 1500);
    }

    .news__description {
        @include dynamicText(75%, 28, 14, 1500px, 3000, 1500);
    }

    .news__link {
        @include dynamicText(75%, 24, 12, 1500px, 3000, 1500);
    }

    /////////////  section  footer  ///////////////
     .footer__slogan {
        @include dynamicText(112.5%, 36, 18, 1500px, 3000, 1500);
    }

    .footer__adress,
    .footer__contacts {
        @include dynamicText(81%, 26, 13, 1500px, 3000, 1500);
    }

    .footer__copy {
         @include dynamicText(75%, 24, 12, 1500px, 3000, 1500);
    }
}


/*   less  1300px     */
@media screen and (max-width: 1300px) {
    .projects__element--one .projects__title {
        font-size: 38px;
    }

    .studio__right,
    .studio__person,
    .news__right {
        padding-right: 2%;
    }

    .studio__title {
        font-size: 40px;
        margin-top: 70%;
    }

    //  footer  
    .footer__right {
        margin-right: 2%;
    }
}

/*   less  1100px     */
@media screen and (max-width: 1100px) {
    .studio__title {
        font-size: 35px;
        margin-top: 120%;
    }
}


/*   less  992px     */
@media screen and (max-width: 992px) {

    // header
    .header__left {
        grid-column: span 9;
        padding-left: 3%;
        background-position: 50px 0;
    }

    .header__right {
        grid-column: span 7;
    }

    //  MENU NAVIGATION
    .menu {
        right: 30px;
        top: 30px;
    }

    .menu__list {
        min-width: 550px;
    }

    //  project  block
    .projects__element--one {
        grid-column: span 7;
    }

    .projects__list {
        margin-left: calc(20% - 25px);
    }

    .projects__element--one .projects__title {
        font-size: 30px;
    }

    .projects__element--two {
        grid-column: span 9;
    }

    .projects__element--three {
        grid-column: span 9;
        grid-row: span 2;
        background-size: 100% 100%;
    }

    .projects__element--four {
        grid-column: span 7;
        grid-row: span 2;
    }

    .projects__element--four .projects__counter {
        display: block;
        margin-top: 5px;
    }

    .projects__element--four .projects__like {
        margin-top: 15px;
    }

     .projects__element--five {
        grid-column: span 5;
    }

    .projects__element--six {
        grid-column: span 11;
    }

     .projects__element--seven {
        grid-column: span 7;
        background-size: contain;   
        background-position: 0 15px;
    }

     .projects__element--eight {
        grid-column: span 9;
        background-size: contain;
        background-position: 0 10px;
    }

    .projects__element--eight .projects__counter {
        display: block;
        margin-top: 10px;
    }

    .projects__element--eight .projects__like {
        margin-top: 11%;
    }

    .projects__element--nine {
        grid-column: span 9;
    }

    .projects__element--nine .projects__info {
        margin-left: 55%;
    }

    .projects__element--nine .projects__counter {
        margin-left: 50%;
    }

    .projects__element--ten {
        grid-column: span 7;
    }

    ////////////  block  studio  /////////////
    .studio__left,
    .studio__right {
        grid-column: span 16;
    }

    .studio__right {
        padding-left: 2%;
    }

    .studio__title {
        font-size: 48px;
        margin: 12.3% 0 37.4% 17.2%;
    }

    .studio__staff {
        padding-left: 2%;
        padding-right: 3%;
    }

    //////////// section  news  //////////////
    .news__title {
        font-size: 35px;
    }

    .news__text {
        font-size: 15px;
    }
}


/*   less  768px     */
@media screen and (max-width: 768px) {

     //  MENU NAVIGATION
    .menu {
        height: 100%;
    }

    // button hamburger
    .hamburger__menu {
        width: 70px;
        height: 70px;
        border: 3px solid $white;
    }

     .hamburger__element {
        background-color: $white;

        &::after,
        &::before {
            background-color: $white;
        }
    }

    .menu__list {
        min-width: auto;
        display: block;
        padding-right: 70px;
        padding-top: 15px;
        overflow-y: auto;
    }

    .menu__link {
        display: block;
        padding: 7px 80px 7px 0;
    }

    // project  block
    .projects__element--two .projects__info {
        margin-left: 7%;
        margin-top: 7%;
    }

    .projects__counter {
        margin-left: 1%;
        margin-bottom: 3%;
    }

    .projects__element--three {
        background-size: 108% 100%;
    }

    .projects__element--four {
        display: block;
    }

    .projects__element--four .projects__info {
        margin-left: 26.9%;
        margin-right: 4.3%;
        margin-bottom: 7.5%;
    }

    .projects__element--six {
        background-position: -75px 15px;
    }

    .projects__element--six .projects__info {
        margin-left: 30%;
    }

    .projects__element--seven .projects__info {
        margin-left: 56%;
    }

    .projects__element--seven .projects__counter {
        margin-left: 45%;
        width: 64%;
    }

    .projects__element--eight {
        display: block;
    }

    .projects__element--eight .projects__info {
        margin-left: 30%;
        margin-top: 5%;
    }

    .projects__element--eight .projects__counter {
        margin-left: 16%;
        margin-top: 15px;
    }

    .projects__element--eight .projects__like {
        margin-top: 5%; 
    }


    ///////////  section  studio  //////////////
    .studio__title {
        margin: 8.3% 0 30.4% 17.2%;
    }

    .studio__right {
        padding-top: 2%;
    }

    .studio__text,
    .studio__staff-text {
        margin: 3% 0;
    }

    .studio__staff,
    .studio__person {
        padding-top: 2%;
    }

    ///////////////  section   footer  ///////////////////
    .footer {
        grid-template-columns: 1fr;
    }

    .footer__map {
        padding-bottom: 50%;
    }

    .footer__left {
        margin-left: 5%;
        margin-top: 10%;
    }

    .footer__right  {
        margin-right: 5%;
        margin-top: 10%;
    }
}

/*   less  600px     */
@media screen and (max-width: 600px) {
    // header
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .header__left, 
    .header__right {
        grid-column: span 1;
        background-position: 42px 104px;
    }

    .header__social {
        margin: 60px 0 15px 0px;
    }

    .header__adress,
    .header__contacts {
        position: static;
    }

    .header__adress {
        margin-left: 10%;
        margin-top: 10%;
    }

    .header__contacts {
        margin-left: 35%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    //  block  project
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .projects__element--one, .projects__element--two, .projects__element--three,
    .projects__element--four, .projects__element--five, .projects__element--six,
    .projects__element--seven, .projects__element--eight, .projects__element--nine,
    .projects__element--ten {
        grid-column: span 1;
        grid-row: span 1;
    }

    .projects__counter {
        margin-bottom: 12%;
    }

    .projects__element--three {
        background-size: 106% 100%;
    }

    .projects__element--three .projects__counter {
        margin-bottom: 12%;
    }

    .projects__element--three .projects__counter {
        margin-left: 4%;
    }

    .projects__element--five .projects__counter {
        margin-bottom: 45%;
    }

    .projects__element--six {
        height: 380px;
        background-position: -98px 52px;
    }

    .projects__element--six .projects__info {
        margin-left: 28%;
    }

    .projects__element--six .projects__counter {
        margin-left: 0.5%;
    }

    .projects__element--seven {
        background-size: 80% 65%;
    }    

    .projects__element--seven .projects__info {
        margin-left: 50%;
    }

    .projects__element--seven .projects__counter {
        margin-bottom: 16%;
    }

    .projects__element--eight {
        background-position: 0 40px;
        padding-top: 34%;
    }

    .projects__element--eight .projects__info {
        margin-left: 35%;
    }

    .projects__element--eight .projects__counter {
        margin-left: 27%;
        margin-bottom: 5%;
    }

    .projects__element--ten .projects__subtitle {
        margin-left: 16.5%;
    }
    
    .projects__element--ten .projects__list {
        margin-left: calc(17.5% - 25px);
    }


    ///////////  section  studio  //////////////
    .studio {
        grid-template-columns: 1fr;
    } 

    .studio__left, .studio__right, .studio__staff, .studio__person {
        grid-column: span 1;
    }

    .studio__right {
        display: block;
    }

    .studio__description, .studio__information {
        width: 100%;
    }

    .studio__staff, .studio__right {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .studio__person {
        padding-right: 0;
         padding-right: 2%;
        padding-left: 2%;
    }

    .persons {
        flex-direction: column;
    }

    .persons__item {
        width: auto;
        margin-right: 0;
    }

      ////////////////  section news /////////////////////////
    .news {
        grid-template-columns: 1fr;
    }

    .news__left, .news__right {
        grid-column: span 1;
    }

    .news__left {
        margin-bottom: 25px;
    }

    .news__right {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    .news__title {
        margin: 4.3% 0 20.4% 10.2%;
    }

    .news__list {
        flex-direction: column;
    }

    .news__element {
        width: 100%;
        margin-bottom: 4%;
    }

    .news__text {
        font-size: 20px;
        min-height: auto;
    }


    //////////    section  footer   ///////////////
    .footer__info {
        flex-direction: column;
    }

    .footer__left {
        text-align: center;
        margin-left: 0%;
        margin-top: 5%;
    }

    .footer__contacts {
        margin-top: 7%;
    }

    .footer__right {
        text-align: center;
        margin-right: 0;
    }

    .footer__logo {
        margin: auto;
    }

    .footer__social {
        justify-content: center;
    }
    
}


/*   less  479px     */
@media screen and (max-width: 479px) {}