@mixin reg {
  font-family: 'robotocondensed-regular', sans-serif;
  font-weight: 400;
}

@mixin ital {
  font-family: 'robotocondensed-italic', sans-serif;
  font-weight: 400;
}

@mixin light {
  font-family: 'robotocondensed-light', sans-serif;
  font-weight: 300;
}

@mixin lightItal {
  font-family: 'robotocondensed-lightitalic', sans-serif;
  font-weight: 300;
}

@mixin bold {
  font-family: 'robotocondensed-bold', sans-serif;
  font-weight: 700;
}

@mixin boldItal {
  font-family: 'robotocondensed-bolditalic', sans-serif;
  font-weight: 700;
}
// mixin для адаптивной типографики //  $minSizePercent - размер шрифта в процентах(18px / 16px * 100); $maxSize - значение в 2 раза больше нужного(36); $minSize - минимальное значение шрифта(18); $minWidthPx - viewport(1500px); $maxWidth - максимальная ширина(3000); $minWidth - минимальная ширина(1500)
@mixin dynamicText($minSizePercent, $maxSize, $minSize, $minWidthPx, $maxWidth, $minWidth) {
  font-size: calc(#{$minSizePercent} + (#{$maxSize} - #{$minSize}) * (100vw - #{$minWidthPx}) / (#{$maxWidth} - #{$minWidth}))
}