@mixin reg {
  font-family: 'robotocondensed-regular', sans-serif;
  font-weight: 400;
}

@mixin ital {
  font-family: 'robotocondensed-italic', sans-serif;
  font-weight: 400;
}

@mixin light {
  font-family: 'robotocondensed-light', sans-serif;
  font-weight: 300;
}

@mixin lightItal {
  font-family: 'robotocondensed-lightitalic', sans-serif;
  font-weight: 300;
}

@mixin bold {
  font-family: 'robotocondensed-bold', sans-serif;
  font-weight: 700;
}

@mixin boldItal {
  font-family: 'robotocondensed-bolditalic', sans-serif;
  font-weight: 700;
}