@import "vars.scss";
@import "fonts.scss";
@import "mixin";

@import "blocks/header";
@import "blocks/social";
@import "blocks/hamburger";
@import "blocks/projects";
@import "blocks/project-list";
@import "blocks/like-btn";
@import "blocks/studio";


html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  @include reg;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div, p, span, button, a {
  box-sizing: border-box;
}

p, h2, h3, a, ul {
 margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.container {
  // width: 1200px;  //85%
  // max-width: 1200px;
  // margin: 0 auto;
  // padding: 0 20px;
  position: relative;
  background: $primaryColor;
}

@import "./media.scss";